<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Strength Checker</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Password Strength Checker</h1>
    <form id="passwordForm">
        <label for="password">Enter your password:</label>
        <input type="password" id="password" name="password" required>
        <button type="button" id="btn">Check Strength</button>
    </form>
    <p id="result"></p>
    <script src="../static/script.js"></script>
</body>
</html>
